  <%= link_to @quiz_id, quizzes_answer_path(:quizzes_id) %><br>
  <%= link_to gravatar_for(quiz.user, size: 50), quiz.user %><br>
  <span class="question">問題 <%= quiz.question %></span><br>  
  <span class="user">名前 <%= link_to quiz.user.name, quiz.user %></span><br>
  <span class="number_of_times_solved"> <%= quiz.number_of_times_solved %></span><br>
  <span class="number_of_correct_answers"> <%= quiz.number_of_correct_answers %></span><br>
  <span class="number_of_times_we_saw_the_answer"> <%= quiz.number_of_times_we_saw_the_answer %></span><br>
  <span class="timestamp">
    Posted <%= time_ago_in_words(quiz.created_at) %> ago.<br>
  </span>
