<li id="task-<%= task.id %>">
  <%= link_to gravatar_for(task.user, size: 50), task.user %>のポイントをあげる候補になりました。
  <span class="create_time"><%= link_to task.created_at, task_path(task.id) %></span>
  <span class="content">内容 <%= task.content %></span>  
  <span class="user">名前 <%= link_to task.user.name, task.user %></span>
  <span class="bet_user_id">あげるかもしれないユーザー <%= task.bet_user_id %></span>
  <span class="deadline">締切 <%= task.deadline_at %></span>
  <span class="amount_bet">かけるダイス <%= task.amount_bet %></span>
  <span class="status">状況 <%= task.status %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(task.created_at) %> ago.
  </span>
  
</li>