<% provide(:title, @task.user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        
        <%= @task.user.name %><br>
        <%= @task.content %><br>
        <%= @task.user_id %><br>
        <%= @task.bet_user_id %><br>
        <%= @task.deadline_at %><br>
        <%= @task.amount_bet %><br>

      </h1>
    </section>
  </aside>
</div>